.files {
  width: 50%;
  min-width: 600px;
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  column-gap: 2em;
}
.form-group {
  width: 50%;
  min-width: 600px;
  display: flex;
  margin: 2em auto;
  align-items: center;
  justify-content: space-between;
}
p {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin: 2em;
}
