<label id="example-radio-group-label">{{question}}</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectedAnswer">
  <mat-radio-button class="example-radio-button" *ngFor="let answer of answers" [value]="answer.value">
    {{answer.label}}
  </mat-radio-button>
</mat-radio-group>
<button
  style="width: 200px;
   margin-bottom: 50px"
  mat-raised-button
  color="primary"
  [disabled]="selectedAnswer===null || disable"
  (click)="vote()">{{'Vote'}}</button>
<button
  style="width: 200px;
   margin-bottom: 50px"
  mat-raised-button
  color="primary"
>{{'XML'}}</button>
<button
  style="width: 200px;
   margin-bottom: 50px"
  mat-raised-button
  color="primary"
>{{'HTML'}}</button>
<button
  style="width: 200px;
   margin-bottom: 50px"
  mat-raised-button
  color="primary"
>{{'JSON'}}</button>
<ng-container *ngIf="stat">
  <p *ngFor="let answer of answers">{{answer.label + ' : ' + stat[answer.value]}}</p>
</ng-container>

