<form [formGroup]="requestForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="name" formControlName="name"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Url</mat-label>
    <input matInput placeholder="http://your/url" formControlName="url" id="url"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Method</mat-label>
    <input matInput placeholder="GET/POST/PUT/DELETE" formControlName="method" id="method"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Params</mat-label>
    <input matInput placeholder="?key=value&key=value" formControlName="params" id="params"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Content type</mat-label>
    <input matInput placeholder="form-data/x-www-form-urlencoded/raw" formControlName="contentType" id="contentType"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Body</mat-label>
    <input matInput placeholder="body" formControlName="body" id="body"/>
  </mat-form-field>


  <button
    style="width: 100px"
    mat-raised-button
    color="primary"
    (click)="addParam()">{{'Add header'}}</button>

  <div *ngFor="let header of headers.controls; let i = index" [formGroup]="header">
    <mat-form-field>
      <mat-label>key</mat-label>
      <input matInput placeholder="key" formControlName="key"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>value</mat-label>
      <input matInput placeholder="value" formControlName="value"/>
    </mat-form-field>
    <button
      style="width: 100px"
      mat-raised-button
      color="primary"
      (click)="deleteHeaderGroup(i)">Delete</button>
  </div>

  <button
    class="save"
    style="width: 100px"
    mat-raised-button
    color="primary"
    (click)="save()">{{'Save'}}</button>
</form>

<p class="mat-error" *ngIf="error">{{error}}</p>
<div class="req-list" *ngIf="requestList$ | async as requestList">
  <div class="req-item" *ngFor="let request of requestList">
    <p>{{'Req name: '+ request.name + '. Req url: ' + request.url}}</p>
    <button
      class="save"
      style="width: 100px"
      mat-raised-button
      color="primary"
      (click)="send(request.id)">{{'Send'}}</button>
  </div>
</div>

<pre>{{result | json}}</pre>
